@media(max-width:953px) {
.feeDetailFrom .row-2-col .form-group{width:45.5%}
.feeDetailFrom .row-3-col .form-group:first-child{width:35%}
.feeDetailFrom .row-3-col .form-group:nth-child(2){width:25%}
.feeDetailFrom .row-3-col .form-group:nth-child(3){width:28.5%}
/* ticket detail page  */

.ticketD-outer .row-2-col .form-group {  width: 100%;}

/* ticket detail page ends  */
}
@media(max-width:951px) {
    .student-portal-tabbing > ul li {
        margin-right: 10px;
        width: 46%;
    }
   
    .student-portal-tabbing > ul .nav-item a {
        margin-bottom: 20px;
        padding: 15px;
        width: 100%;
    }
    /* ticket detail page  */
    .ticketD-outer .cont { margin-bottom: 10px;}
    /* ticket detail page ends */
}
@media (max-width:772px) {
.feeDetailFrom .row-2-col .form-group{width:45.5%}
}
@media(min-width:768px) {
.fee-detail-tab .nav-tabs{display:flex}
.fee-detail-tab .card{border:none}
.fee-detail-tab .card .card-header{display:none}
.fee-detail-tab .card .collapse{display:block}
}
@media(max-width:767px) {
    .fees-container { padding: 50px 20px; }
.boldheading { font-size: 52px; line-height: 55px;}
.hostel-inner-tabbing .nav-tabs .nav-item .nav-link span{font:15px/21px nunitosans-Bold}
.hostel-inner-tabbing .nav-tabs .nav-link.active,.hostel-inner-tabbing .nav-tabs .nav-link{padding:7px 20px;min-height:auto}
.hostel-inner-tabbing .nav-tabs .nav-link figure{max-width:34px}
.hostel-inner-tabbing{padding:20px}
.student-prog-right h4{font:15px/25px nunito_sanssemibold}
.student-prog-outer{flex-wrap:wrap;margin-bottom:20px}
.student-prog-left,.student-prog-right{width:100%}
.student-portal-tabbing > ul .nav-item a figure{max-width:35px;margin-bottom:10px}
.student-portal-tabbing > ul .nav-item a{padding:15px}
.tution-installment .txt{font:14px/18px nunito_sanssemibold}
.tution-installment .link2.mt45{margin-top:35px!important}
.student-portal-tabbing > ul .nav-item a h6{font:13px/18px nunito_sanssemibold;margin-bottom:10px}
.student-portal-tabbing > ul .nav-item a span{font:18px/21px nunitosans-Bold}
.student-portal-tabbing > ul .nav-item a{margin-bottom:20px}
.student-portal-tabbing > ul li{margin-right:0;width:49%}
.student-portal-tabbing > ul li:last-of-type{margin-left:2%}
.student-portal-tabbing > ul .nav-item a{width:100%}
.tution-installment{width:49%;margin:0 0 20px}
.tution-installment:nth-last-of-type(1),.tution-installment:nth-last-of-type(2){margin-bottom:0}
.tution-installment:nth-of-type(2n+2){float:right}
.tution-installment-outer{justify-content:space-between}
.student-portal-content{padding:30px}
a.add-fee-detail,a.add-fee-detail:link,a.add-fee-detail:visited{padding:12px 15px}
.fee-detail-tab .tab-pane{display:block!important;opacity:1;margin-bottom:20px;border:0}
.fee-detail-tab .fade:not(.show){opacity:1}
.feesD-outer,header{padding:20px}
.fee-detail-tab .card-header{background:#fff;border:0;border-left:2px solid red;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px}
form.login-form{padding:30px 20px}

/* side menu toggle css  */
a.sub-menu-toggle.d-none { display: block!important;}
.side-menu {
    position: absolute;
    height: 100vh;
    margin-left: -207px;
    transition: 0.5s;
    z-index: 1;
    }
    .main-body {
        width: 100%;
        padding: 0px;
        display: inline-block;
    }
    /* side menu toggle css  ends */

}

@media(max-width:700px) {
.feeDetailFrom .row-2-col .form-group,.feeDetailFrom .row-3-col .form-group{width:100%!important;margin-right:0!important}
}
@media (min-width: 576px){
    .video-popup .modal-dialog {
        max-width: 515px!important;
    }
    
    
}
@media(max-width:576px) { .video-popup .modal-dialog { padding: 0 17px;  } }

@media(max-width:575px) {
.hostel-inner-tabbing .nav-tabs .nav-item{margin-right:0}

}

@media(max-width:500px) {
.student-portal-content{padding:20px}
.tution-installment{width:48%}
.btn2{font-size:12px!important}
}
@media(max-width:415px) {
.parallel-heading-outer{flex-wrap:wrap}
.parallel-heading-outer .boldheading-meadium{width:100%;margin-bottom:20px}
.tution-installment{width:100%}
.tution-installment:nth-last-of-type(2){margin:0 0 20px}
}
@media(max-width:400px) {
ul.feesD-list li{width:100%}
.login-remember .link1{margin-top:10px;float:left}
.login-remember p{width:100%}
.student-portal-tabbing > ul li{width:48%}
.student-portal-tabbing > ul li:last-of-type{margin-left:4%}
.hostel-inner-tabbing .nav-tabs .nav-link.active,.hostel-inner-tabbing .nav-tabs .nav-link{display:flex;flex-direction:column;padding:7px 15px}
.hostel-inner-tabbing .nav-tabs .nav-link figure{margin:0 0 5px}
}