@font-face {
    font-family: 'nunitosans';
    src: url('https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'nunitosans-Light';
    src: url('https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'nunitosans-Bold';
    src: url('https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/nunitosans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'nunito_sanssemibold';
    src: url('../fonts/nunitosans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/nunitosans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'nunito_sansblack';
    src: url('../fonts/nunitosans-black-webfont.woff2') format('woff2'),
    url('../fonts/nunitosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'oswald';
    src: url('https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/oswald-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'oswald-Light';
    src: url('https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/oswald-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
        font-family: 'oswald_semiBold';
        src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('../fonts/Oswald-SemiBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
    
    @font-face {
    font-family: 'oswald-Bold';
    src: url('https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.eot'), url('https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.woff2') format('woff2'), url('https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.woff') format('woff'), url('https://cdn.mastersunion.org/assets/fonts/oswald-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialiconsoutlined/v5/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2') format('woff2');
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialiconsround/v5/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2') format('woff2');
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialiconssharp/v6/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2') format('woff2');
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialiconstwotone/v4/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2') format('woff2');
    font-display: swap;
    }
    
    @font-face {
    font-family: 'nunito_sanssemibold';
    src: url('../fonts/nunitosans-semibold-webfont.woff2') format('woff2'), url('../fonts/nunitosans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
    body{font-family:'nunitosans';font-weight:400;font-size:16px;line-height:1.5;color:#4E5D64;background:#f8f9fd;}
    h1,h2,h3,h4,h5,h6{font-family:"Now";margin:0;color:#4E5D64;line-height:1.5}
    h1{font-size:40px}
    h2{font-size:30px;color:#262626;font-weight:500}
    h3{font-size:20px;font-weight:500}
    h4{font-family:"Segoe UI";font-size:16px;font-weight:400}
    h5{font-size:13px}
    h6{font-size:12px}
    p{margin:0}
    ul{margin:0;padding:0}
    ul li{list-style:none}
    a,a:after,a:before{ transition:all .4s ease-in-out}
    a,a:visited,a:focus,a:active,a:hover{text-decoration:none;outline:none}
    img{max-width:100%;height:auto}
    .form-control:focus,.btn:focus,input:focus,button:focus{box-shadow:none;outline:none}
    .mtb150{margin:150px 0}
    .mt150{margin-top:150px}
    .mb160{margin-bottom:160px}
    .mb150{margin-bottom:150px}
    .mtb100{margin:100px 0}
    .mt100{margin-top:100px}
    .mb100{margin-bottom:100px}
    .mtb90{margin:90px 0}
    .mt90{margin-top:90px}
    .mb90{margin-bottom:90px}
    .mtb80{margin:80px 0}
    .mt80{margin-top:80px}
    .mb80{margin-bottom:80px}
    .mtb70{margin:70px 0}
    .mt70{margin-top:70px}
    .mb70{margin-bottom:70px}
    .mtb60{margin:60px 0}
    .mt60{margin-top:60px}
    .mb60{margin-bottom:60px}
    .mtb50{margin:50px 0}
    .mt50{margin-top:50px!important}
    .mb50{margin-bottom:50px!important}
    .mtb45{margin:45px 0}
    .mt45{margin-top:45px !important}
    .mb45{margin-bottom:45px!important}
    .mtb40{margin:40px 0}
    .mt40{margin-top:40px !important}
    .mb40{margin-bottom:40px}
    .mtb35{margin:35px 0}
    .mt35{margin-top:35px}
    .mb35{margin-bottom:35px!important}
    .mtb30{margin:30px 0}
    .mt30{margin-top:30px}
    .mb30{margin-bottom:30px!important}
    .mtb25{margin:25px 0}
    .mt25{margin-top:25px}
    .mb25{margin-bottom:25px!important}
    .mtb20{margin:20px 0}
    .mt20{margin-top:20px}
    .mb20{margin-bottom:20px}
    .mb0{margin-bottom:0}
    .mtb15{margin:15px 0}
    .mt15{margin-top:15px}
    .mb15{margin-bottom:15px!important}
    .mtb10{margin:10px 0}
    .mt10{margin-top:10px}
    .mb10{margin-bottom:10px!important}
    .m0{margin:0}
    .mt-8{margin-top:-8px}
    .mt-15{margin-top:-15px}
    .mt-70{margin-top:-70px}
    
    
    .ptb150{padding:150px 0}
    .pt150{padding-top:150px}
    .pb150{padding-bottom:150px}
    .ptb100{padding:100px 0}
    .pt100{padding-top:100px}
    .pb100{padding-bottom:100px}
    .ptb90{padding:90px 0}
    .pt90{padding-top:90px}
    .pb90{padding-bottom:90px}
    .ptb80{padding:80px 0}
    .pt80{padding-top:80px}
    .pb80{padding-bottom:80px}
    .ptb70{padding:70px 0}
    .pt70{padding-top:70px}
    .pb70{padding-bottom:70px}
    .ptb60{padding:60px 0}
    .pt60{padding-top:60px}
    .pb60{padding-bottom:60px}
    .ptb50{padding:50px 0}
    .pt50{padding-top:50px}
    .pb50{padding-bottom:50px}
    .ptb40{padding:40px 0}
    .pt40{padding-top:40px}
    .pb40{padding-bottom:40px}
    .ptb30{padding:30px 0}
    .pt30{padding-top:30px}
    .pt100{padding-top:100px}
    .pt80{padding-top:80px}
    .pb30{padding-bottom:30px}
    .ptb20{padding:20px 0}
    .pt20{padding-top:20px}
    .pb20{padding-bottom:20px}
    .ptb10{padding:10px 0}
    .pt10{padding-top:10px}
    .pb10{padding-bottom:10px}
    
    .hide { display: none !important; }
    
    .cover-outer{width:100%;float:left;height:auto}
    .parallel-heading-outer{width:100%;float:left;height:auto;display:flex;justify-content:space-between;align-items:center}
    .boldheading-meadium span{background:linear-gradient(0deg,#FFEF62 50%,transparent 50%);padding-left:5px;padding-right:5px}
    .boldheading-meadium{font-size:42px;font-family:"oswald-bold";color:#4E5D64;display:inline-block;width:auto;text-shadow:0 0 0 #4E5D64;padding-right:5px;line-height:1.2}
    .boldheading {
        font-size: 72px;
        font-family: "oswald-bold";
        color: #4E5D64;
        display: inline-block;
        width: 100%;
        text-shadow: 1px 1px 0 #4E5D64;
        line-height: normal;
        margin-bottom: 10px;
    }
    .boldheading .borderheading {
        display: inline;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #4E5D64;
        -webkit-text-fill-color: #f8f9fd;
        text-shadow: 0 0 0 #4E5D64;
    }
    
    /*=========== font color==========  */
    .green-clr{color: #0FA41E!important;}
    .orange-clr{color: #F29426!important;}
    .red-clr{color:#f12a2a!important;}
    
    /*======= login custom checkbox==== */
    .login-cont{display:block;position:relative;padding-left:24px;margin-bottom:0;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;letter-spacing:.02em;color:#4E5D64;opacity:.7;font:14px/22px nunitosans}
    .login-cont input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
    .l-checkmark{position:absolute;top:0;left:0;height:18px;width:18px;background-color:#fff;border:1px solid #f12a2a;border-radius:3px}
    .login-cont input:checked ~ .l-checkmark{background-color:#fff}
    .login-remember{display:inline-block;width:100%}
    .login-remember .link1{float:right}
    .l-checkmark:after{content:"";position:absolute;display:none}
    .login-cont input:checked ~ .l-checkmark:after{display:block}
    .login-cont .l-checkmark:after{left:5px;top:0;width:7px;height:13px;border:solid #f12a2a;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
    /* ======custom radio buttons===  */
    .cont{display:block;position:relative;padding-left:35px;margin-bottom:0;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
    .cont input{position:absolute;opacity:0;cursor:pointer}
    .checkmark{position:absolute;top:0;left:0;height:22px;width:22px;background:#FBFDFE;border:2px solid rgba(78,93,100,0.1);border-radius:50%}
    .cont input:checked ~ .checkmark{background:#FBFDFE;border:2px solid #4E5D64}
    .checkmark:after{content:"";position:absolute;display:none}
    .cont input:checked ~ .checkmark:after{display:block}
    .cont .checkmark:after{top:4px;left:4px;width:10px;height:10px;border-radius:50%;background:#f12a2a}
    /* ============buttons========  */
    .btn1{box-shadow:10px 10px 20px rgba(0,0,0,0.08);position:relative;background:#f5a120;color:#fff;width:150px;min-height:50px;display:flex;justify-content:center;align-items:center;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;font-size:14px!important;font-family:'nunitosans-Bold';letter-spacing:2px;border:none}
    .btn2{box-shadow:10px 10px 20px rgba(0,0,0,0.08);position:relative;background:#F12A2A;color:#fff;width:100%;min-height:45px;display:flex;justify-content:center;align-items:center;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;font-size:14px!important;font-family:'nunito_sansblack';letter-spacing: 0.06em;border:none;text-transform: uppercase;}
    /* ============links ======  */
    .link1,.link1:visited,.link1:focus,.link1:active{letter-spacing:.02em;font:14px/19px nunitosans;color:#f12a2a!important}
    .link2, .link2:visited, .link2:focus, .link2:active {
        text-decoration-line: underline!important;
        color: #F12A2A!important;
        font: 14px/20px 'nunito_sanssemibold';
        display: inline-block;
    }
    .right-arrow::after{content:"";height:9px;width:9px;position:absolute;border-left:2px solid;border-bottom:2px solid;transform:rotate(-45deg);right:15px;top:18px;z-index:3}
    .jquery-datepicker.theme-light{z-index:10}
    /* ======login page====== */
    section.login-container{max-width:680px;margin:90px auto;text-align:center;padding:50px 0}
    .login-heading{font:24px/36px nunitosans-Bold;color:#4E5D64}
    .login-subheading{font:16px/24px nunitosans;color:#4E5D64}
    form.login-form{width:100%}
    .login-form .form-group .label-heading{letter-spacing:.06em!important}
    .login-form input.form-control,.login-form textarea.form-control{background:#Fff!important;}
    form.login-form input::placeholder{opacity:.5;font:16px/22px nunitosans}
    form.login-form input{background:#FFF;border:1px solid rgba(78,93,100,0.1)!important;border-radius:3px;height:50px}
    .login-form .input-group i{top:0!important}
    form.login-form .btn1{font:bolder 14px/14px nunito_sansblack;letter-spacing:.06em;border-radius:unset}
    form.login-form .btn1 .material-icons{margin-left:20px;font-size:18px}
    /* Fee deatils form  */
    .feeDetailFrom .form-group .label-heading{font:11px/15px nunitosans;letter-spacing:.02em;text-transform:uppercase;color:#4E5D64;margin-bottom: 0;}
    .feeDetailFrom .input-group i{position:absolute;top:-3px;z-index:9;padding:16px 15px;font-size:20px;color:#4E5D64}
    .feeDetailFrom input.form-control,.feeDetailFrom textarea.form-control{background:#FBFDFE;border:2px solid rgba(78,93,100,0.1)!important;border-radius:3px!important;min-height:52px;padding:18px 24px;padding-left:45px}
    .feeDetailFrom textarea.form-control{
        min-height: 150px;
        resize: none;
        padding: 12px 24px;
        padding-left: 45px;
    }
    .feeDetailFrom select.form-control{background:#FBFDFE;border:2px solid rgba(78,93,100,0.1);border-radius:3px!important;min-height:52px;padding:12px 24px;color:#4e5d64a8;padding-left:45px;font-family:sans-serif;appearance:none}
    .feeDetailFrom .cont{padding-left:31px;font:15px/20px nunitosans;margin-right:20px}
    .feeDetailFrom .cont span.txt{position:relative;top:3px}
    /* fees detail page  */
    .feesD-outer{background:#FFF;box-shadow:5px 5px 20px rgba(0,0,0,0.08);border-radius:3px;padding:30px;min-height:675px}
    .feeDetailFrom .row-2-col,.row-3-col{display:flex;flex-wrap:wrap}
    .feeDetailFrom .row-2-col .form-group{width:400px;margin-right:27px}
    .feeDetailFrom .row-3-col .form-group:first-child{width:400px;margin-right:27px}
    .feeDetailFrom .row-3-col .form-group:nth-child(2){width:170px;margin-right:23px}
    .feeDetailFrom .row-3-col .form-group:nth-child(3){width:207px}
    ul.feesD-list{display:inline-block;width:100%}
    ul.feesD-list li{display:inline-block;width:260px;height:195px;background:#FBFDFE;border:2px solid rgba(78,93,100,0.1);box-sizing:border-box;border-radius:3px;display:flex;justify-content:center;align-items:center;padding:10px}
    ul.feesD-list li a,ul.feesD-list li a:visited,ul.feesD-list li a:link,ul.feesD-list li a:active{display:inline-block;text-align:center;color:#4E5D64;font:20px/27px nunitosans-Bold}
    ul.feesD-list li a img{display:block;margin:0 auto;margin-bottom:25px}
    
    /* Header: Code Start */
    header{position: fixed;top: 0;z-index: 11;
        width:100%;height:75px;float:left;background:#fff;-webkit-box-shadow:0 4px 11px rgba(0,0,0,0.25);-moz-box-shadow:0 4px 11px rgba(0,0,0,0.25);box-shadow:0 4px 11px rgba(0,0,0,0.25);-ms-box-shadow:0 4px 11px rgba(0,0,0,0.25);-o-box-shadow:0 4px 11px rgba(0,0,0,0.25);padding:0 30px;display:flex;align-items:center;justify-content:space-between}
    a#logo,a#logo:link,a#logo:visited{float:left}
    span.MU-person-profile{width:42px;height:45px;float:right;background-color:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;overflow:hidden}
    header .right {
        display: flex;
        align-items: center;
    }
    
    /* Header: Code End */
    
    
    
    /* Student Portal Code Start */
    .student-portal-content{padding:40px;width:100%;display:inline-block}
    .student-prog-outer{display:flex;justify-content:space-between;align-items:flex-start}
    .tution-installment-outer{display:flex;flex-wrap:wrap}
    .tution-installment{width:24%;height:auto;float:left;background:#fff;box-shadow:0 4px 15px rgba(0,0,0,0.09);border-radius:3px;margin:0 1% 20px 0}
    .tution-installment:last-of-type{margin-right:0}
    .student-prog-left h3{color:#101010;font:20px/28px oswald_semiBold;text-transform:uppercase}
    .student-prog-right h4{color:#4E5D64;font:18px/25px nunito_sanssemibold}
    .student-prog-left p{font:15px/21px oswald;margin-bottom:20px;letter-spacing:.01em;color:rgba(78,93,100,0.65);margin-top:5px}
    .tution-installment h4{text-transform:uppercase;color:#4E5D64;font:600 16px/22px oswald_semiBold;padding:12px 20px;border-bottom:1px solid rgba(102,102,102,0.2)}
    .tution-installment .txt{padding:20px;color:rgba(102,102,102,0.7);font:16px/22px nunito_sanssemibold}
    .tution-installment .txt p{margin-bottom:10px}
    .student-portal-tabbing .nav-tabs{border-bottom:0}
    .student-portal-tabbing > ul .nav-item a{width:311px;height:auto;float:left;background:#fff;box-shadow:5px 5px 20px rgba(0,0,0,0.08);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;padding:25px;outline:0;border:0!important;border-top:2px solid #fff;margin-bottom:25px}
    .student-portal-tabbing > ul li{margin-right:20px}
    .student-portal-tabbing > ul li:last-of-type{margin-right:0}
    .student-portal-tabbing > ul .nav-item a{border:0!important;border-top:2px solid #fff!important}
    .student-portal-tabbing > ul .nav-item a.active{border-top:2px solid #F25354!important;height:100%;position:relative}
    .student-portal-tabbing > ul .nav-item a.active:after{position:absolute;left:0;bottom:-20px;content:'';background-color:#fff;width:100%;height:40px}
    .student-portal-tabbing > ul .nav-item a figure{float:left;margin-bottom:20px}
    .student-portal-tabbing > ul .nav-item a h6{width:100%;float:left;font:14px/18px nunito_sanssemibold;letter-spacing:.04em;text-transform:uppercase;color:#F12A2A;margin-bottom:15px}
    .student-portal-tabbing > ul .nav-item a span{width:100%;float:left;font:22px/26px nunitosans-Bold;color:#4E5D64}
    .student-portal-tabbing .tab-content{background:#fff;box-shadow:5px 5px 20px rgba(0,0,0,0.08)}
    .hostel-inner-tabbing{background:#fff;padding:30px}
    .hostel-inner-tabbing .student-portal-content{padding:0}
    .hostel-inner-tabbing .tab-content{background:#fff;box-shadow:0 0 0 rgba(0,0,0,0)}
    .hostel-inner-tabbing .nav-tabs{margin-bottom:35px}
    .hostel-inner-tabbing .nav-tabs .nav-item{margin-right:20px}
    .hostel-inner-tabbing .nav-tabs .nav-item:last-of-type{margin-right:0}
    .hostel-inner-tabbing .nav-tabs .nav-link.active,.hostel-inner-tabbing .nav-tabs .nav-link{border:0;padding:5px 30px;display:flex;color:#101010;align-items:center;font:18px/31px nunitosans-Bold;text-transform:uppercase;min-height:55px}
    .hostel-inner-tabbing .nav-tabs .nav-link.active{background:#F8F9FD;color:#101010;font:18px/31px nunitosans-Bold;text-transform:uppercase;border-radius:3px!important}
    .hostel-inner-tabbing .nav-tabs .nav-link figure{margin:0;margin-right:15px}
    .hostel-inner-tabbing .nav-tabs .nav-item .nav-link span{position:relative;font:18px/21px nunitosans-Bold;text-transform:uppercase;color:#101010}
    
    /* Student Portal Code End */
    
    /* ========Main outer========= */
    a.sub-menu-toggle, 
    a.sub-menu-toggle:visited,
    a.sub-menu-toggle:focus, 
    a.sub-menu-toggle:active{
        color: #fff;
    }
    
    .sub-menu-toggle span.material-icons {
        font-size: 34px;
        margin-left: 20px;
        position: relative;
        top: 5px;
    }
    .main-outer{
       width: 100%;
        display: table;
        position: relative;
        margin-top: 75px;
    }
    .side-menu{
        width: 200px;
        max-width:200px;
        background: #252525;
        padding-top: 20px;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
        display: table-cell;
        vertical-align: top;
        position: fixed;
        height: 100%;
    }
    .sub-menu-open{
        margin-left:0!important;
        transition: 0.5s!important;
    }
    .side-menu a,
    .side-menu a:visited,
    .side-menu a:focus,
    .side-menu a:active {
        display: flex;
        width: 100%;
        padding: 15px 30px;
        color: #fff;
        align-items: center;
        font: 16px/30px 'nunitosans';
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }
    .side-menu a i,
    .side-menu a:visited i,
    .side-menu a:focus i,
    .side-menu a:active i{
        margin-right: 13px;
        position: relative;
        top: -2px;
    }
    .side-menu a:hover, .side-menu a.active{
        background: #f5a120;
        /* color:#101010; */
        font-family: 'nunito_sanssemibold';
    }
    
    .main-body{
        padding:40px;
        display: table-cell;
        vertical-align: top;
        padding-left: 240px;
    }
    .main-body .fees-container { background-color: transparent}
    
    /* ========Main outer ends ========= */
    
    /* =====ticket details page====  */
    .ticketD-outer{
        background: #FFFFFF;
        border-radius: 3px;
        padding: 30px;
        width: 100%;
        display: grid;
    }
    .ticketD-outer .cont {
        padding-left: 31px;
        font: 15px/20px nunitosans;
        margin-right: 40px;
    }
    .ticketD-outer .form-control {
       padding: 12px 20px!important;
    }
    .ticket-record-table tbody tr:nth-of-type(odd) {
        background-color:#F9FBFD;
    }
    .ticket-record-table th {
        font: 14px/14px 'nunitosans-Bold';
        color: #4e5d64;
        text-transform: capitalize;
    }
    .ticket-record-table th, .ticket-record-table td {
        padding: 15px 20px;
        vertical-align: middle;
        border: none;
    }
    .ticket-record-table th{ padding: 20px }
    .ticket-record-table td {font: 14px/18px 'nunitosans';
        color: #4e5d64;
    }
    .ticket-record-table td div.b {font: 14px/18px 'nunitosans';
        font-family: 'nunitosans-Bold';
    }
    .ticket-record-table td span {font: 12px/18px 'nunitosans';}
    
    
    /* =====ticket details page ends====  */
    
    /* add new code 1 sept 2020  */
    
    .heading-1{font:32px/47px oswald_semiBold;color:#4E5D64}
    .feeDetailFrom{background:#fff;padding:30px 40px;box-shadow: -2px 0px 20px 0px #cccccc69;border-radius: 3px;}
    .add-details{padding-left:50px;display:inline-block;position:relative;padding-bottom:50px;width:100%}
    .add-details:after{content:"";position:absolute;height:100%;width:1px;background:#4e5d64;left:0;bottom:-22px;top:29px}
    .add-details:before{content:"";position:absolute;height:15px;width:16px;border-radius:50%;background:#4e5d64;left:-7px;top:21px}
    .add-details .btn1{min-height:52px;text-transform:uppercase}
    .add-details .feeDetailFrom .row-2-col{align-items:center}
    .section-disabled{opacity:.3}
    .add-details.section-disabled:after{background:transparent}
    .add-more-admin{display:inline-flex;font:18px/25px nunitosans;text-transform:uppercase;margin-left:50px;cursor:pointer}
    .add-more-admin span.material-icons{color:#f12a2a;border:1px solid #4e5d64;border-radius:40px;margin-right:10px}
    .upload-btn-wrapper{position:relative;overflow:hidden;display:inline-flex;height:100px;width:100px;background:#f8f9fd;border-radius:50%;align-items:center;justify-content:center}
    .upload-btn-wrapper span.material-icons{font-size:56px;color:rgba(78,93,100,0.3)}
    .upload-btn-wrapper input[type=file]{position:absolute;opacity:0;width:100%;height:100%;left:0;top:0;cursor:pointer}
    .edit-org{display:inline-block;width:100%;background:#fff;padding:50px}
    .edit-btn{float:right;height:59px;width:59px;background:#4e5d64;display:flex;align-items:center;justify-content:center;border-radius:3px}
    .edit-org .org-detail{display:flex}
    .org-detail-text p{font:15px/20px nunito_sanssemibold;color:rgba(78,93,100,0.5)}
    .org-detail-text span{font:18px/25px nunito_sanssemibold;color:#4E5D64}
    .ml50{margin-left:50px}
    .edit-admin {
        display: flex;
        width: 100%;
        background: #fff;
        padding: 50px;
    }
    .edit-admin  .left {
        width: 13%;
    }
    .edit-admin  .right {
        width: 87%;
    }
    
    .edit-admin  .right .r-body {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    .edit-admin  .right  .r-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #C4C4C4;
        margin-top: 20px;
        padding: 20px 0;
    }
    .edit-admin  .right .r-footer .org-detail-text {
        width: 50%;
    }
    .edit-admin  .right .r-footer .org-detail-text:first-child {
       border-right:1px solid #c4c4c4;
    }
    .edit-admin  .right .r-footer .edit-password input[type="password"] { width: 100%;border: 0;color: #4e5d64;}
    .edit-password {
        position: relative;
    }
    .edit-admin  .right .r-footer .edit-password i.material-icons{
        position: absolute;
        right: 26px;
        top: 39%;
        color: rgba(78,93, 100, 0.5);
    }
    a.play-icon , a.play-icon:visited, a.play-icon:active,a.play-icon:link{
        display: inline-block;
        font-size: 32px;
        border: 1px solid #f5a120;
        border-radius: 50%;
        color: #f5a120;
    }
    .play-icon i{
        font-size: 35px;
    }
    .video-popup .close {
        position: absolute;
        right: -21px;
        top: -15px;
        color: #fff;
        opacity: 1;
    }
    .video-popup video{width: 100%;}
    .video-popup .modal-body {
        height: auto;
        
        align-items: center;
        border: 0px;
        justify-content: center;
        padding: 10px;
    }
    .choose-file{
        background: #fff;
        border: 1px solid #eee;
        padding: 10px 30px;
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
        width: 175px;
    }
    .file-icon{
        position: unset !important;
        padding: 0px !important;
        margin-right: 10px;
        margin-top: -4px;
    }
    
      
    .upload input{
        position: absolute;
        cursor: pointer;
        opacity: 0;
        width: 175px;
    }
    .form-control:focus { box-shadow: none!important;}
    
    
    
    
    .btn3{
        background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
        -webkit-box-shadow: 10px 10px 20px rgb(0 0 0 / 8%);
        -moz-box-shadow: 10px 10px 20px rgba(0,0,0,0.08);
        box-shadow: 10px 10px 20px rgb(0 0 0 / 8%);
        -ms-box-shadow: 10px 10px 20px rgba(0,0,0,0.08);
        -o-box-shadow: 10px 10px 20px rgba(0,0,0,0.08);
        font: 18px/21px nunitosans-Bold;
        text-align: center;
        letter-spacing: .06em;
        text-transform: uppercase;
        color: #fff;
        position: relative;
    }
    
    
    
    
    .reject-btn{
        
    font: 14px/21px 'nunitosans';
    align-items: center;
    letter-spacing: 0.2px;
    background-color: #f44336;
    color: #FFFFFF;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        
    }
    
    .accept-btn{
        
        font: 14px/21px 'nunitosans';
        align-items: center;
        letter-spacing: 0.2px;
        background-color: #4CAF50;
        color: #FFFFFF;
        border: none;
        padding: 5px 15px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
            
        }
    
        .ml5{
            margin-left: 5px;
        }
    
        .mt5{
            margin-top: 5px;
        }
    
        .download-btn{
        
            font: 13px/21px 'nunitosans';
            align-items: center;
            letter-spacing: 0.2px;
            background-color: #f5a120;
            color: #FFFFFF;
            border: none;
            padding: 3px 10px;
            border-radius: 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
                
            }
        
    
    
    
    
    
    
    
    
    