
<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="../assets/img/fav.png" type="image/gif">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" async>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" async>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    {{!--
    <link rel="stylesheet" href="assets/css/responsive.css"> --}}


    <title>LPU World Record</title>
</head>

<body>
    <header>
    <nav class="navbar navbar-inverse w-100 p-0">
            <div class="navbar-header">
      <a href="/" id="logo">
            <!-- <img src="assets/img/logo.svg" width="152" height="33"> -->
            <img src="assets/img/logo.png" width="152" height="33">

        </a>
    </div>
    <ul class="nav navbar-nav flex-row">
      <li class="active ml-0"><a target="_blank" href="https://www.lpu.in/placements.php">About Us</a></li>
      <li class="ml-5"><a href="#">Contact Us</a></li>
      
    </ul>
    </nav>
       
      
    </header>
    {{!-- ===============================contact us page=======================================================   --}}
      <section class="cover-outer video-list-outer">

    <div class="container">
    
            <h3 class=' banner-heading text-uppercase text-center'>Contact Us</h3>
            <div class="cover-outer online-video">
            {{!-- <p class="banner-subheading  mg-b-30  text-center">Online Digital Album</p> --}}
            <div class="row">
                <div class="col-md-12">
                     <div class="card">
                        <div class="card-body">
                             <p class="banner-subheading  mb-3">Dr. Sorabh Lakhanpal</p>
                             <p>| Prof. and Head | Division of Student Welfare |</p>
                             <p>| Lovely Professional University | Punjab</p>
                             <div class="d-flex align-items-center mt-3 c-detial">
                                 <div class="d-flex align-items-center">
                                        <span class="material-icons orange-clr">call</span>
                                    <a href="tel: +91-9814371768"> +91-9814371768</a>
                                 </div>
                                 <div class="d-flex align-items-center">
                                      <span class="material-icons orange-clr">call</span>
                                       <a href="tel:+91-9915020450">+91-9915020450</a>
                                 </div>
                                    
                                      
                             </div>
                             <div class="d-flex align-items-center mt-2 c-detial">
                                    <span class="material-icons orange-clr">mail</span>
                                    <a href="mailto:sorabh.lakhanpal@lpu.co.in">sorabh.lakhanpal@lpu.co.in</a>
                             </div>
                            
                        </div>
                    </div>

                </div>

            </div>
                   
            </div>
    </div>
</section>
     {{!-- ===============================contact us page END=======================================================   --}}

    <!-- Modal -->
    <div class="modal fade " id="video-open" tabindex="-1" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body d-inline-flex text-center p-0" id="divVideo">
                    <button type="button" onclick="pauseVideo()" class="close close-btn float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                            </button>
                <video width="100%" height="100%" controls autoplay>
                        <source type="video/mp4">
                  </video>

        

                </div>

            </div>
        </div>
    </div>

    <!-- modal end  -->
    <script src="https://cdn.mastersunion.org/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">

        var studentList = []
        
        //var url = "http://localhost:32000/getStudentsAcceptedRecords";
        var url = "https://lpu-world-record.mastersunion.org/getStudentsAcceptedRecords"


        
             fetch(url)
                .then(response => response.json())
                .then(json => {
                    if (json.IsSuccess == true) {
                        //console.log(json)
                        studentList = json.Data
                        getStudentsList(studentList)
                    } else {
                        console.log("inside error resolve")
                    }

                })
                .catch(err => console.error(err));
    


        function getStudentsList(studentArray) {
            //$('#videoList').html('')
            //studentArray.forEach(cur => {
              //  var html = `<li>
               //     <figure>
                //        <img onclick="bindVideo('${cur.viedoUrl}')" src="../assets/img/download-ico.png" alt="" data-toggle="modal" data-target="#video-open">
                //    </figure>
                //    <p> ${cur.registration} </p>
                 //  </li>`
              //  $('#videoList').append(html)

            //})
            $('#videoNewList').html('')
            studentArray.forEach(cur => {
              var html = `<div class="video-section">
                            <div class="video-outer mg-b-10">
                                 <video >
                                <source src="${cur.viedoUrl}">
                            </video>
                            <svg data-toggle="modal" onclick="bindVideo('${cur.viedoUrl}')" data-target="#video-open" data-keyboard="false" width="24" class="play-btn" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM9.5 16.5L16.5 12L9.5 7.5V16.5Z" fill="black"/>
                            </svg>
                            </div>
                            <span>Reg No: ${cur.registration}</span>
                            

                        </div>`
              $('#videoNewList').append(html)

            })

        }
       let urlPass=''

      function bindVideo(v){
        urlPass=v
        //console.log("dssd",urlPass)
        $('#divVideo video source').attr('src', urlPass);
        $('#divVideo video')[0].load();

      
      
      }


    function  pauseVideo() {
        var mediaVideo = $('#divVideo video').get(0); 
        mediaVideo.pause();
    };

    $('#video-open').on('hidden.bs.modal', function (e) {
        $('#video-open .close').trigger('click')
    })



    </script>
   
</body>

</html>
