<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="../assets/img/fav.png" type="image/gif">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" async>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" async>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    {{!--
    <link rel="stylesheet" href="assets/css/responsive.css"> --}}


    <title>LPU World Record</title>
</head>

<body>

{{!-- loader  --}}
  <!-- MUTLI SPINNER -->
  {{!-- <div class="loader">
    <div class="multi-spinner-container">
      <div class="multi-spinner">
        <div class="multi-spinner">
          <div class="multi-spinner">
            <div class="multi-spinner">
              <div class="multi-spinner">
                <div class="multi-spinner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
{{!-- loader ends  --}}

    <header>
    <nav class="navbar navbar-inverse w-100 p-0">
            <div class="navbar-header">
      <a href="javascript:void(0);" id="logo">
            <!-- <img src="assets/img/logo.svg" width="152" height="33"> -->
            <img src="assets/img/logo.png" width="152" height="33">

        </a>
    </div>
    <ul class="nav navbar-nav flex-row">
      <li class="active ml-0"><a target="_blank" href="https://www.lpu.in/placements.php">About Us</a></li>
      <li class="ml-5"><a href="/contactUs">Contact Us</a></li>
      
    </ul>
    </nav>
       
      
    </header>
   
  <section class="cover-outer video-list-outer">

    <div class="container">
    
            <h3 class=' banner-heading text-center'>THANKS GIVING BY LPU STUDENTS FOR BEING PART OF UNIVERSITY'S LARGEST PLACEMENT NETWORK</h3>
            <div class="cover-outer online-video">
            <p class="banner-subheading  mb20  text-center">Online Video Album</p>
            <span class="float-right  t-number recordCount"></span>
            <div class="row">
                <div class="col-md-12">
                    <ul id="videoList" class="video-list">
                        
                    </ul>

                </div>

            </div>
                    <div class="video-list-section" id="videoNewList">
                   
                    </div>
                    {{!-- pagination  --}}
                    <div class="pagination d-inline-block w-100 text-center content_detail__pagination cdp" id="pagination" actpage="1">
                             {{!-- <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a> --}}
                        </div>
                </div>
    </div>
</section>
    <!-- Modal -->
    <div class="modal fade " id="video-open" tabindex="-1" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body d-inline-flex text-center p-0" id="divVideo">
                    <button type="button" onclick="pauseVideo()" class="close close-btn float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                            </button>
                <video width="100%" height="100%" controls autoplay>
                        <source type="video/mp4">
                  </video>

        

                </div>

            </div>
        </div>
    </div>

    <!-- modal end  -->
    <script src="https://cdn.mastersunion.org/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">

        var studentList = []
        var pageNo = 1;
        var pageIndex = 1;
        dataCall(pageNo)
        
        function dataCall(pageNo){
           // var url = `http://localhost:32000/getStudentsAcceptedRecords?pageNo=${pageNo}&pageSize=40`;
        //var url = "https://lpu-world-record.mastersunion.org/getStudentsAcceptedRecords"
        var url = `https://lpu-world-record.mastersunion.org/getStudentsAcceptedRecords?pageNo=${pageNo}&pageSize=40`


        
             fetch(url)
                .then(response => response.json())
                .then(json => {
                    if (json.IsSuccess == true) {
                        //console.log(json)
                        studentList = json.Data;
                        $('.recordCount').html('Total Records: '+json.Count)
                        getStudentsList(studentList)
                        var count = Math.ceil(json.Count / 50)
                        bindPagination(count)
                    } else {
                        //console.log("inside error resolve")
                    }

                })
                .catch(err => console.error(err));
    
        }
        


        function getStudentsList(studentArray) {
            //$('#videoList').html('')
            //studentArray.forEach(cur => {
              //  var html = `<li>
               //     <figure>
                //        <img onclick="bindVideo('${cur.viedoUrl}')" src="../assets/img/download-ico.png" alt="" data-toggle="modal" data-target="#video-open">
                //    </figure>
                //    <p> ${cur.registration} </p>
                 //  </li>`
              //  $('#videoList').append(html)

            //})
            $('#videoNewList').html('')
            studentArray.forEach(cur => {
              let regiNo = cur.registration.trim();
              var html = `<div class="video-section">
                            <div class="video-outer mg-b-10">
                                 <video >
                                <source src="https://lpu-world-record.s3.ap-south-1.amazonaws.com/approved-videos/${regiNo}.mp4">
                            </video>
                            <svg data-toggle="modal" onclick="bindVideo('${regiNo}')" data-target="#video-open" data-keyboard="false" width="24" class="play-btn" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM9.5 16.5L16.5 12L9.5 7.5V16.5Z" fill="black"/>
                            </svg>
                            </div>
                            <span>Reg No: ${cur.registration}</span>
                            

                        </div>`
              $('#videoNewList').append(html)

            })

        }
       let urlPass=''

      function bindVideo(v){
        urlPass='https://lpu-world-record.s3.ap-south-1.amazonaws.com/approved-videos/'+v+'.mp4'
        //console.log("dssd",urlPass)
        $('#divVideo video source').attr('src', urlPass);
        $('#divVideo video')[0].load();

      
      
      }


    function  pauseVideo() {
        var mediaVideo = $('#divVideo video').get(0); 
        mediaVideo.pause();
    };

    $('#video-open').on('hidden.bs.modal', function (e) {
        $('#video-open .close').trigger('click')
    })

    function bindPagination(pageCount){
        
        
        $('#pagination').html('')
            //arr.forEach(index => {
             // var html = `<a href="#">${index+1}</a>`
             // $('#pagination').append(html)

            //})
            var html = `<a href="#!-1" class="cdp_i" onclick="previousClick()">prev</a>`
            for(var i = 0 ; i<pageCount;i++){
                html+= `<a href="#!${i+1}" onclick="pageClick(${i+1})" class="pitem cdp_i">${i+1}</a>`
                
                //$("#pagination").append('<a href="javascript:void(0);">'+(i+1)+'</a>');
            }
            html+= `<a href="#!+1" class="cdp_i" onclick="nextClick()">next</a>`
            $('#pagination').append(html)
            //$(`.pitem:eq(${pageIndex-1})`).addClass('active');

            var paginationPage = parseInt($('.cdp').attr('actpage'), 10);
            $('.cdp_i').on('click', function(){
                var go = $(this).attr('href').replace('#!', '');
                if (go === '+1') {
                paginationPage++;
                } else if (go === '-1') {
                paginationPage--;
                }else{
                paginationPage = parseInt(go, 10);
                }
                $('.cdp').attr('actpage', paginationPage);
            });
    }
    function pageClick(i){
        pageIndex= i
        //if(i==0){
           // $("#pagination").find("a").first().addClass("active")
        //}
        dataCall(i)
        pageNo = i
        //$("#pagination").find("a").first().removeClass("active")
        //$(`.pitem:eq(${i-1})`).addClass('active');
    }
    function previousClick() {
        pageNo = pageNo - 1;
        dataCall(pageNo)
    }
    function nextClick() {
        pageNo = pageNo + 1;
        dataCall(pageNo)
    }



    </script>
   
</body>

</html>
