<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
    <link rel="icon" href="../assets/img/fav.png" type="image/gif">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" async>
    <link type="text/css" rel="stylesheet" href="assets/css/style.css" async>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    {{!--
    <link rel="stylesheet" href="assets/css/responsive.css"> --}}


    <title>LPU World Record</title>
</head>

<body>
    <header>
        <a href="javascript:void(0);" id="logo">
            <!-- <img src="assets/img/logo.svg" width="152" height="33"> -->
            <img src="assets/img/logo.png" width="152" height="33">

        </a>
        <!-- <span class="MU-person-profile">
            <img src="assets/img/person-profile.jpg" width="42" height="45">
        </span> -->
    </header>
    <div class="cover-outer">
        <section class="login-container pb-0">
            <div class="row">
                <div class="cover-outer">
                    <h3 class='login-heading'>Thanks giving by students for LPU's largest placement network</h3>
                    <p class="login-subheading mb20">Registration has been closed.</p>
                </div>
            

            </div>
    </div>
    </section>
    </div>



    <!-- Modal -->
    <div class="modal fade f-onsubmit" id="onsubmit" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body text-center">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.5 67.5L20 50L14.1666 55.8333L37.5 79.1667L87.5 29.1667L81.6666 23.3333L37.5 67.5Z"
                            fill="black" />
                    </svg>

                    <p>Submitted successfully!!!</p>
                </div>

            </div>
        </div>
    </div>

    <!-- modal end  -->
    <script src="https://cdn.mastersunion.org/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" crossorigin="anonymous"></script>

    <script>

       
    </script>
    <script type="text/javascript">
        const client = filestack.init('AWp9lidnkTmGzxwufhM2fz');
        document.getElementById("offerLetterDiv").style.display = "none"
        //import client from "../config/filestack"
        //const myModule = require('../config/filestack"');
        // let val = myModule.client();

        //console.log(",,,,,,,,,,,,",{{fileStackClient}}) 
        var offerLetterUrl = "";
        function uploadOfferLetter() {

            /*var options = {
                accept: ["video/*"],
                onFileSelected(file) {
                    if (file.size > 52428800) {
                        alert('Video too big, select something smaller than 50 MB');
                    }
                },
                maxSize: 52428800,
                onFileUploadFinished: file => {
                    fileURL = file.url
                }, 
            } 
            client.picker(options).open()*/

            var options = {
                accept: ["application/pdf"],
                onFileSelected(file) {
                    if (file.mimetype != "application/pdf") {
                        alert('Please select PDF file only');
                    }
                    if (file.size > 1000000) {
                        alert('File too big, select something smaller than 1 MB');
                    }
                },
                maxSize: 1000000,
                storeTo: {
                    location: "s3",
                    path: "/offer-letter",
                    region: "ap-south-1",
                    access: "public",
                },
                onFileUploadFinished: file => {
                    offerLetterUrl = file.url
                    document.querySelector("#file_name1").textContent = file.name;
                    //console.log(offerLetterUrl)
                }
            };
            client.picker(options).open();
        }

        // $('#file_input').change(function () {
        //  var i = $(this).prev('p').clone();
        //  var file = $('#file_input')[0].files[0].name;
        //  $(this).prev('p').text(file);
        //  if (file) {
        //     document.getElementById('videoValidation').innerHTML = '';
        //  }
        //  document.querySelector("#file_name").textContent = file;
        // });
        $("#studentDetailForm").submit(function (event) {
            //document.getElementById('videoInstruction').innerHTML = ''
            //console.log("fileURL........................", fileURL)
            //console.log("ghgh", event)
            event.preventDefault();
            if (
                $('#mobile').val() != '' &&
                $('#name').val() != '' &&
                $('#email').val() != '' &&
                //$('#description').val() != '' &&
                $('#registration').val() != '' &&
                //$('#file_input').val() != '' &&
                //offerLetterUrl !='' &&

                ///^[a-zA-Z ]+$/.test($('#name').val()) == true  &&
                /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/.test($('#mobile').val()) == true &&
                /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test($("#email").val()) == true
            ) {
                //var url = 'https://lpu-world-record.mastersunion.org/upload'
                //var url = 'http://localhost:32000/upload'
                //var request_method = 'POST';
                var data = {
                    name: event.target.name.value,
                    email: event.target.email.value,
                    mobile: event.target.mobile.value,
                    description: event.target.description.value,
                    registration: event.target.registration.value
                };
                var formData = new FormData();
                //var videoFile = $("#file_input")[0].files[0];
                //formData.append('file', videoFile);
                formData.append("name", event.target.name.value)
                formData.append("email", event.target.email.value)
                formData.append("mobile", event.target.mobile.value)
                formData.append("description", event.target.description.value)
                formData.append("registration", event.target.registration.value)
                //formData.append("offerLetterUrl", offerLetterUrl)
                formData.append("accepted", false)
                formData.append("rejected", false)
                //$("#submitBtn").prop("disabled", true)
                $.ajax({
                    url: `https://lpu-world-record.mastersunion.org/recordExists`,
                    type: 'GET',
                    data: { registration: event.target.registration.value, email: event.target.email.value },
                }).done(function (response) {
                    if (response.IsSuccess) {
                        document.getElementById('videoInstruction').innerHTML = '(Please upload video in mp4 or webm formats only and size of the video should be less  than 50mb).'
                        var fileURL = ""; 
                        const options = {
                            accept: ["video/*"],
                            onFileSelected(file) { 
                                if (file.size > 52428800) {
                                    alert('Video size is too big, select something smaller than 50 MB');
                                }
                            }, 
                            maxSize: 52428800,
                            storeTo: {
                                location: "s3",
                                region: "ap-south-1",
                                access: "public",
                                //disableKey: true,
                            },
                            onFileUploadFinished: file => {
                                document.getElementById('videoInstruction').innerHTML = ''
                                fileURL = file.url
                                formData.append('viedoUrl', fileURL); 
                                $("#file_input").prop("disabled", true)
                                $.ajax({
                                    url: `https://lpu-world-record.mastersunion.org/upload`,
                                    type: 'POST',
                                    data: formData,
                                    cache: false,
                                    contentType: false,
                                    processData: false
                                }).done(function (response) {
                                    if (response.IsSuccess) {
                                        //$("#submitBtn").prop("disabled", true)
                                        //$("#submitBtn").text("Submitted Successfully")
                                        //$("input[type=text], input[type=email], input[type=tel], input[type=file], textarea").val("");

                                        //setTimeout(() => {
                                        // $("#submitBtn").text("Submit")
                                        // $("#submitBtn").prop("disabled", false)
                                        //}, 4000)
                                        //$("#onsubmit").modal()
                                        //document.getElementById('videoValidation').innerHTML = '';
                                        //document.getElementById('formValidation').innerHTML = '';
                                        //document.querySelector("#file_name").textContent = '';
                                        $("#onsubmit").modal()
                                        setTimeout(()=>{
                                            $('#onsubmit').modal('toggle');
                                        },2000)
                                        //$("input[type=text], input[type=email], input[type=tel], input[type=file], textarea").val("");
                                        $("#file_input").prop("disabled", true)
                                        $("#offerLetter").prop("disabled", false)
                                        if(response.IsOfferLetter){
                                            //document.getElementById('formValidation').innerHTML = "Please upload offer letter (For Placed Student Only)";
                                            document.getElementById('videoInstruction').innerHTML = '(Please upload offer letter in pdf or doc or jpeg or png formats only & size of the offer letter should be less than 1mb).'
                                            var offerLetterUrl = "";
                                            var options = {
                                                accept: [
                                                "application/pdf", 
                                                "image/*", 
                                                "application/msword", 
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document"],
                                                onFileSelected(file) {
                                                    //if (file.mimetype != "application/pdf") { 
                                                       // alert('Please select PDF file only');
                                                    //}
                                                    if (file.size > 1000000) { 
                                                        alert('File too big, select something smaller than 1 MB');
                                                    }                       
                                                },
                                                maxSize: 1000000,
                                                storeTo: {
                                                    location: "s3",
                                                    path: "/offer-letter",
                                                    region: "ap-south-1",
                                                    access: "public",
                                                },
                                                onFileUploadFinished: file => {
                                                    document.getElementById('videoInstruction').innerHTML = ''
                                                    offerLetterUrl = file.url
                                                    formData.append('offerLetterUrl', offerLetterUrl);
                                                    $("#offerLetter").prop("disabled", true);
                                                    $.ajax({
                                                        url: `https://lpu-world-record.mastersunion.org/uploadOfferLetter`,
                                                        type: 'POST',
                                                        data: formData,
                                                        cache: false,
                                                        contentType: false,
                                                        processData: false
                                                    }).done(function (response) {
                                                        if (response.IsSuccess) {
                                                            $("#onsubmit").modal()
                                                            $("input[type=text], input[type=email], input[type=tel], input[type=file], textarea").val("");
                                                            $("#offerLetter").prop("disabled", false)
                                                            document.getElementById('formValidation').innerHTML = '';
                                                        }
                                                        else {
                                                            $("#offerLetter").prop("disabled", true);
                                                            document.getElementById('formValidation').innerHTML = response.message;
                                                        }
                                                    })
                                                }
                                            };
                                            setTimeout(()=>{
                                                JSAlert.alert("Your video has been uploaded. Please upload offer letter (For Placed Student Only) in pdf or doc or jpeg or png formats only & size of the offer letter should be less than 1mb.").then(()=> {
                                                client.picker(options).open();
                                            })
                                            }, 2000)
                                            
                                            
                                        }
                                    }
                                    else {
                                        document.getElementById('formValidation').innerHTML = response.message;
                                    }
                                })
                            }
                        };
                        client.picker(options).open();
                        document.getElementById('formValidation').innerHTML = '';

                    }
                    else {
                        //$("#submitBtn").prop("disabled", false)
                        if (response.IsOfferLetter) {
                            $("#file_input").prop("disabled", true)
                            $("#offerLetter").prop("disabled", false)
                            $("#offerLetter").prop("disabled", true)
                            //$("#file_upload_text").text('Upload Offer Letter');

                            var offerLetterUrl = "";
                            var options = {
                                accept: [
                                "application/pdf", 
                                "image/*", 
                                "application/msword", 
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document"],
                                onFileSelected(file) {
                                    //if (file.mimetype != "application/pdf") { 
                                     //   alert('Please select PDF file only');
                                    //}
                                    if (file.size > 1000000) { 
                                        alert('File too big, select something smaller than 1 MB');
                                    }
                                },
                                maxSize: 1000000,
                                storeTo: {
                                    location: "s3",
                                    path: "/offer-letter",
                                    region: "ap-south-1",
                                    access: "public",
                                },
                                onFileUploadFinished: file => {
                                    document.getElementById('videoInstruction').innerHTML = ''
                                    offerLetterUrl = file.url
                                    formData.append('offerLetterUrl', offerLetterUrl);
                                    $("#offerLetter").prop("disabled", true);
                                    $.ajax({
                                        url: `https://lpu-world-record.mastersunion.org/uploadOfferLetter`,
                                        type: 'POST',
                                        data: formData,
                                        cache: false,
                                        contentType: false,
                                        processData: false
                                    }).done(function (response) {
                                        if (response.IsSuccess) {
                                            $("#onsubmit").modal()
                                            $("input[type=text], input[type=email], input[type=tel], input[type=file], textarea").val("");
                                            $("#offerLetter").prop("disabled", false)
                                            document.getElementById('formValidation').innerHTML = '';
                                        }
                                        else {
                                            $("#offerLetter").prop("disabled", true);
                                            document.getElementById('formValidation').innerHTML = response.message;
                                        }
                                    })
                                }
                            };
                            JSAlert.alert("Your video has been uploaded. Please upload offer letter (For Placed Student Only) in pdf or doc or jpeg or png formats only & size of the offer letter should be less than 1mb.").then(()=> {
                                client.picker(options).open();
                            })
                        }
                        $("#file_input").prop("disabled", false)
                        document.getElementById('videoInstruction').innerHTML = ''
                        document.getElementById('formValidation').innerHTML = response.message;
                    }
                });
            } {
                if (/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/.test($("#email").val()) == false || $('#email').val() == '') {
                    document.getElementById('emailValidation').innerHTML = 'Enter a valid email';
                } else {
                    document.getElementById('emailValidation').innerHTML = '';
                }

                if (/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/.test($('#mobile').val()) == false || $('#mobile').val() == '') {
                    document.getElementById('mobileValidation').innerHTML = 'Enter a valid 10 digit number';
                } else {
                    document.getElementById('mobileValidation').innerHTML = ''
                }

                if (/^[a-zA-Z ]+$/.test($('#name').val()) == false || $('#name').val() == '') {
                    document.getElementById('nameValidation').innerHTML = 'Enter a valid name';
                } else {
                    document.getElementById('nameValidation').innerHTML = '';
                }
                //if ($('#description').val() == '') {
                //  document.getElementById('msgValidation').innerHTML = 'Description is required';
                // } else {
                //  document.getElementById('msgValidation').innerHTML = '';
                //}
                if ($('#registration').val() == '') {
                    document.getElementById('registrationValidation').innerHTML = 'Registration number is required';
                } else {
                    document.getElementById('registrationValidation').innerHTML = '';
                }
                //if ($('#file_input').val() == '') {
                //  document.getElementById('videoValidation').innerHTML = 'Please attach a video file';
                //} else {
                //    document.getElementById('videoValidation').innerHTML = '';
                //}
                //if ($('#offerLetter').val() == '') {
                //  document.getElementById('offerLetterValidation').innerHTML = 'Please attach an offer letter file';
                //} else {
                //    document.getElementById('offerLetterValidation').innerHTML = '';
                //}
            }

        })

        function validateMobile(mobileField) {
            var reg = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
            if (reg.test(mobileField.value) == false) {
                document.getElementById('mobileValidation').innerHTML = 'Enter a valid 10 digit number'
                return false;
            }
            document.getElementById('mobileValidation').innerHTML = ''
            return true;
        }

        function validateMessage(msgField) {
            if (msgField.value == '') {
                document.getElementById('msgValidation').innerHTML = 'Description is required'
                return false;
            }
            document.getElementById('msgValidation').innerHTML = ''
            return true;
        }

        function validateEmail(emailField) {
            var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (reg.test(emailField.value) == false) {
                document.getElementById('emailValidation').innerHTML = 'Enter a valid email'
                return false;
            }
            document.getElementById('emailValidation').innerHTML = ''
            return true;

        }

        function validateName(nameField) {
            var reg = /^[a-zA-Z ]+$/;
            if (reg.test(nameField.value) == false) {
                document.getElementById('nameValidation').innerHTML = 'Enter a valid name'
                return false;
            }
            document.getElementById('nameValidation').innerHTML = ''
            return true;
        }

        function validateRegistration(registrationField) {
            //var reg = /^\d{8}$/;
            if (registrationField.value == '') {
                document.getElementById('registrationValidation').innerHTML = 'Registration number is required'
                return false;
            }
            document.getElementById('registrationValidation').innerHTML = ''
            return true;
        }

        /*function validateVideo(videoField) {
            //var reg = /^\d{8}$/;
               if (videoField.value == '') {
                    document.getElementById('videoValidation').innerHTML = 'Please attach video file'
                    return false;
                }
                document.getElementById('videoValidation').innerHTML = ''
                return true;
        }*/

        /*function validateVideo(videoField) {
            //var reg = /^\d{8}$/;
               if (videoField.value == '') {
                    document.getElementById('videoValidation').innerHTML = 'Please attach video file'
                    return false;
                }
                document.getElementById('videoValidation').innerHTML = ''
                return true;
        }*/






    </script>
</body>

</html>
